NODE_ENV=
APP_URL=
JWT_SECRET=
DATABASE_URL=
DEV_APP_URL=
JWT_EXPIRATION_TIME=30d
RESEND_API_KEY=
RESEND_FROM_EMAIL=
GCS_PROJECT_ID=
GCS_BUCKET_NAME=
GCS_CREDENTIALS_JSON_BASE64=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STORE_MOCK_PAYMENTS=true
